## Series

A Series is a one dimensional array-like object containing an array of data and an associate data labels, called `index`. The simplest Series is formed from only an array of data

In [15]:
import pandas as pd
from pandas import Series, DataFrame

obj = Series([4, 7, -3, 5])

In [4]:
obj

0    4
1    7
2   -3
3    5
dtype: int64

You can get a Series values and index from the attributes: `values` and `index`

In [5]:
obj.values

array([ 4,  7, -3,  5])

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj[1]

7

In [8]:
obj + [1]

0    5
1    8
2   -2
3    6
dtype: int64

In [9]:
obj * 2

0     8
1    14
2    -6
3    10
dtype: int64

In [10]:
obj?

A handy use case of Series is it can automatically alings differently-indexed data in arithemetic operations:

In [11]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = Series(sdata)
obj1

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [12]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [14]:
obj1 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

## DataFrame

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type. It's like R's data.frame

In [17]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9],
}

df = DataFrame(data)

In [18]:
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002